.saying {
    text-align: center
}

.title {
    color: #d1629e;
    font-size: xx-large;
}

table {
    margin: auto;
}

.key {
    font-family: fangsong;
    font-size: x-large;
}

.value {
    font-family: cursive;
    font-size: x-large;
}

.change {
    font-size: x-large;
    padding: 2px 2rem;
}